* {
  margin: 0%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff8d6;
}
.starry-world {
  min-width: 290px;
  min-height: 250px;
  background-color: #8d2a00;
  border-radius: 10px;
  padding: 30px 40px;
}
.starry-world h1 {
  font-family: "Merriweather", serif;
  font-size: 34px;
  text-align: center;
  color: #fff8d6;
}

.starry-world input {
  display: flex;
  width: 95%;
  height: 30px;
  margin: 15px 0px;
  margin-top: 20px;
}
input {
  width: 50%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid #fff8d6;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 700;
  color: #fff8d6;
  padding: 5px 5px 5px 10px;
}
::placeholder {
  color: #fff8d6;
  font-weight: 600;
  padding-left: 5px;
}
button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #8d2a00;
  width: 120px;
  height: 45px;
  background: #fff8d6;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 800;
}
p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: #fff8d6;
  text-decoration: none;
  font-weight: 600;
}
p a {
  color: #fff8d6;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}
p a:hover {
  text-decoration: underline;
}

/* =====================================\ Responsive 375 px /========================= */

@media screen and (max-width: 375px) {
  .starry-world {
    min-width: 270px;
    min-height: 250px;
    background-color: #8d2a00;
    border-radius: 10px;
    padding: 30px 40px;
  }
}
